@import "tailwindcss";

@theme {
  --color-background: #F9FAFB;
  --color-main-purple: #4F46E5;
  --color-border-main: #B3B3B3;
  --color-btn-secondary: #6F6F6F;
}


body {
  background: #F9FAFB;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}
